<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IRPAutobotti.Properties.Settings.MatlabConnectionString"
            connectionString="Data Source=LAPTOP-DT8KB2TQ;Initial Catalog=Matlab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>